{% extends "myblog/base.html" %}

{%block source%}
	{%load static from staticfiles%}
	<script type="text/javascript" src="{% static 'myblog/js/jquery-1.12.4.js'%}"></script>
	<script type="text/javascript" src="{% static 'myblog/js/bootstrap.min.js'%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/main.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/reset.css'%}">

	    <!-- river -->
    <link rel="stylesheet" type="text/css" href="{%static 'myblog/river/css/owl.carousel.min.css'%}"/>
	<script type="text/javascript" src="{%static 'myblog/river/js/owl.carousel.min.js'%}"></script>

	    <!-- little banner -->
	<link rel="stylesheet" type="text/css" href="{%static 'myblog/lunbo/css/normalize.css'%}" />
	<link rel="stylesheet" href="{%static 'myblog/lunbo/dist/pageSwitch.min.css'%}">
	<script src="{%static 'myblog/lunbo/dist/pageSwitch.min.js'%}"></script>

		    <!-- fonts -->
	<link rel="dns-prefetch" href="//use.fontawesome.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="stylesheet" id="googleFonts-css" href="https://fonts.googleapis.com/css?family=Raleway:400,600,700|Oswald|Oswald|Playfair%20Display:400,400italic" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab%3A400%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Roboto%3A900%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Oswald%3A700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Raleway%3A700%2C900" rel="stylesheet" property="stylesheet" type="text/css" media="all">

{%endblock%}

{% block js%}
<script>
	$(document).ready(function() {

		<!-- river -->
        $("#news-slider").owlCarousel({
            items:3,
            itemsDesktop:[1199,2],
            itemsDesktopSmall:[980,2],
            itemsMobile:[600,1],
            pagination:false,
            navigationText:false,
            autoPlay:true
        });

		$('.owl-item').css({'padding':'10px'});

			<!-- 轮播 -->
		$("#container").PageSwitch({
			direction:'horizontal',
			easing:'ease-in',
			duration:1000,
			autoPlay:true,
			loop:'false'
		});
	    <!-- 暂时
        var url = window.location.href;
        page_num = url.split('/').pop();
        $('.next_page').attr('href',Number(page_num) + 1);
        if (page_num > 1) {
            $('.prev_page').attr('href',Number(page_num) - 1);
        }
		-->


		var now_page = 1;
		$('.ch_page, .prev_page, .next_page').click(function (event) {
			var totalpage = Number("{{articals.paginator.num_pages}}");

		    if(event.target.className=='ch_page'){
		        var num = $(this).text();
			}else if(event.target.className=='prev_page'){
		        if(now_page>1){
		            var num = now_page-1;
					now_page-=1
				}
			}else if(event.target.className=='next_page'){
			    if(now_page<totalpage){
			        var num = now_page+1;
					now_page+=1
				}

			}
			console.info(now_page);



			$.get('/getArticals/'+num,function (dic) {
				$.each(dic.articals,function (index,item) {
						$('.list').eq(index).find('.blog-category a').text(item.tag);
						$('.list').eq(index).find('.atitle').text(item.title);
						$('.list').eq(index).find('.blog_content p:eq(0)').text(item.content);
						$('.list').eq(index).find('.blog_content p:eq(1)').text(item.content);
						$('.list').eq(index).find('.post-meta-time').text(item.pub_time);
						$('.list').eq(index).find('.post-meta-author').text('BY '+item.author);
						var basesrc = "/static/myblog/articalImages/thumbnail_750_400/";
						$('.list').eq(index).find('.blogImage img').attr('src',basesrc+item.id+'.jpg');
				});
			});

			$('.next_page').attr('href',Number(num) + 1);
			if (page_num > 1) {
				$('.prev_page').attr('href',Number(num) - 1);
			}

			if(Number(num)>1 && Number(num)<Number(totalpage)-1){
			    var page_bottons = $('.ch_page');
				$.each(page_bottons,function (index,item) {
					$(this).text(Number(num)-1+index)
                })
			}

			$('html, body').animate({
                scrollTop: $('.list').offset().top-200
            }, 350);
    });
		


    });

</script>


{% endblock %}

{%block style%}
<style>
		ul li{
			float: left;
		}

		a{
			color: #343434;
			transition: all 0.25s ease-in-out;
		}
		a:hover{
			text-decoration: none;: none !important;
				color: #509BA0 !important;
			}


		html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    outline: 0;
		    vertical-align: baseline;
		    background: transparent;
		}


		h1, h2, h3, h4, h5, h6, .block1 p, .blog-category a, .post-meta a, .widget_wysija_cont .wysija-submit {
			    font-family: Oswald, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
			    color: #333;
			}

		form {
		    display: block;
		    margin-top: 0em;
		}

		input[type="text"], input[type="password"], input[type="email"], select, textarea {
		    padding-left: 10px !important;
		}

		.list a img{
			transition: all 0.25s ease-in-out;		}

		.list a img:hover{
			opacity: 0.9;
		}

		.category_posts a img,.relatedPosts a img:hover{
			transition: opacity 0.25s ease-in-out;		
		}

		.category_posts a img:hover,.relatedPosts a img:hover{
			opacity: 0.9;
		}

		.widget_tag_cloud a{
			background: #509BA0;
		}

		.m_cen{
			padding-top: 70px;
		}		

		.list{
		    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
			background-color: #fff;
			width: auto;
			margin-bottom:50px;
			position: relative;
		}

		/* banner */

		#myCarousel{

		}

		/* cards */
		.blog-category{
			text-align: center;
			font-size: 22px;
			padding-top: 50px;
		}

		.blog-category a{
			text-transform: uppercase;
			font-style: normal;
			color: #bbb;
		}
		.blog-category em:before{
		    width: 80px;
		    height: 8px;
		    background: url(http://brixton.premiumcoding.com/demo5/wp-content/themes/brixton/images/brixton-border-left.png) 0 1px no-repeat;
		    margin-top: 12px;
		    margin-left: -90px;
		    position: absolute;
		    content: '';
		}
		
		.blog-category em:after {
		    width: 80px;
		    height: 8px;
		    background: url(http://brixton.premiumcoding.com/demo5/wp-content/themes/brixton/images/brixton-border-right.png) 0 1px no-repeat;
		    margin-top: 12px;
		    margin-left: 10px;
		    position: absolute;
		    content: '';
		}
		
		/* art card in cards*/
		.blogpostcategory {
		    padding: 20px 0 40px 0;
		    font-size: 34px;
		    line-height: 52px;
		    font-style: italic;
		    transition: all 0.25s ease-in-out;
		    font-family: Playfair Display, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
		}

		.blogpostcategory .meta {
		    padding: 0 30px;
		}

		.blogpostcategory p{
		    color: #aaa;
		    border-bottom: 1px dashed #e5e5e5;
		    border-top: 1px dashed #e5e5e5;
		    padding: 35px 0px !important;
		    text-align: center;
		    margin: 1em 0 0 0 !important;
			}

		.blogpostcategory .blogcontent-title {
		    text-align: center;
		}

		.blogpostcategory:hover{
			background-color: rgb(34,34,34);
			color: white !important;
		}

		.blogpostcategory:hover p{
			color:white;
		}



		/* art card in cards done here*/

		.topBlog .c_title{
			padding: 0 30px;
			font-size: 44px;
			text-align: center;
		    margin-bottom: 22px;
		}

		.topBlog .c_title a{
			font-size: 100%;
			color: #333;
		}

		.blogImage{
			vertical-align: baseline;
		}

		.blogImage a{
			transition: all 0.25s ease-in-out;
		}

		.blogImage img{
			padding: 0 30px;
			height: auto;
		}

		.entry .meta{
			padding: 0 30px;
		}

		.entry .blogContent {
		    margin-top: 15px;
		    margin-bottom: 30px;
		}

		.entry .blogContent .blog_content {
		    margin-bottom: 0px;
		    text-align: left;
		    color: #444;
		}

		.blogContent .blog_content p{
		    padding: 10px 0 15px 0;
		    display: block;

		}

		.blog_content .read_more{
			text-align: center;
		}

		.read_more a{
		    font-family: Oswald, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
		        position: relative;
			    letter-spacing: 1px;
			    text-align: center;
			    border-bottom: 2px solid #fff;
			    color: #333 !important;
			    font-size: 22px;
			    text-transform: uppercase;
			    text-decoration: none !important;
			    transition: 1s ease-in-out;
		}

		.read_more a:hover {
		    border-bottom: 2px solid ;
		}

		.blogBottom{
			    float: left;
			    width: 100%;
			    padding: 0 30px;
			    margin-left:-30px;
		        background: url({%static 'myblog/images/card_border.png'%}) 2px 0px repeat-x;

			}

		.blogBottom .post-meta {
		    text-align: center;
		    margin: 40px 0;
		    text-transform: uppercase;
		    font-size: 16px;
		    float: left;
		    height: 47px;
		    line-height: 47px;
		    padding: 0 0 0 30px;
		    margin-left: -45px;
		    background: #333;
		}		

		.blogBottom .post-meta a{
		    padding: 0px 3px;
		    color: #fff !important;
		    font-style: normal;
		    display: inline;
		    border-bottom: 1px solid #333;
			transition: border 0.25s ease-in-out;
		}		

		.post-meta:after {
		    width: 40px;
		    height: 47px;
		    background: url({%static 'myblog/images/right_stuff.png'%}) 0 0 no-repeat;
		    margin-top: 0px;
		    margin-left: 0px;
		    position: relative;
		    float: right;
		    bottom: 0;
		    right: -30px;
		    content: '';
		}

		.post-meta a:hover{
		    border-bottom: 1px solid #fff;
		}

		/* side */
		.sidebar h1, h2, h3, h4, h5, h6 {
		    font-weight: normal;
		    line-height: 110%;
		    color: #999;
		}
		.sidebar{
		    padding: 0 10px 0 0px;
		    margin-left:35px;
			}

		.sidebar .widget_search input, #footer .widget_search input {
		    width: 95%;
		}

		.widget {
		    margin: 0px 0 40px 20px;
		    padding: 30px;
		    border: none;
		    background: none;
		    float: left;
		    width: 100%;
		    background: #fff;
		    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
		}
	
		.widget h3 {
		    font-size: 24px !important;
		    text-transform: uppercase;
		    padding-top: 3px;
		    color: #444;
		}



		.social_icons a{
			float: left;
		    background: #eee;
		    margin-right: 13px;
			margin-left: 12px;
		    width: 44px;
		    height: 44px !important;
		    border-radius: 90%;
		    line-height: 44px;
		    text-align: center;
		    color: #fff;
		    font-size: 17px;
		}



		.widget-line {
		    width: 305px;
		    margin-bottom: 20px;
		    border-bottom: 2px solid #eee;
		    position: relative;
		    padding: 0 20px;
		    margin: 0px 0 20px -20px;
		    z-index: -1;
		}

		.recent_posts .widgett, .category_posts .widgett {
		    margin: 0px 0 30px 0;
		    padding-bottom: 25px;
		    border-bottom: 1px solid #ededed;
		    padding-right: 30px;
		    padding-left: 30px;
		    margin-left: -30px;
		}
		
		.wttitle {
		}

		.wttitle h4{
		    line-height: 18px;
		    margin-top: 9px;
		}

		.wttitle h4 a{
		    font-size: 16px !important;
		}
		
		.widget ul {
		    list-style: square !important;
		    margin: 0;
		    padding: 0;
		}

		.widget ul li {
		    list-style-type: none;
		    padding-left: 15px;
		}

		.widget_categories ul li:before {
		    width: 6px;
		    height: 6px;
		    background: #509BA0;
		    margin-top: 15px;
		    margin-left: -15px;
		    position: absolute;
		    border-radius: 1px;
		    content: '';
		}

		.widget ul li a {
		    font-size: 15px;
		    color: #999;
		}

		.widget_search form {
		    height: 50px;
		}

		.widget_search form input{
		    height: 44px;
		    border: none;
		    background: #eee;
		    font-size: 15px;
		    color: #aaa;
		}

		.sidebar .widget_search i, #footer .widget_search i{
		    float: right;
		    position: absolute;
		    right: 50px;
		    margin-top: -50px;
		}

		.widget.widget_text {
		    color: #999;
		    font-size: 16px;
		}

		.widget_tag_cloud a {
		    font-size: 12px !important;
		    text-transform: uppercase;
		    color: #fff !important;
		    padding: 0px 12px;
		    margin-bottom: 4px !important;
		    display: inline-block;
		    border-radius: 2px;
		}




		/* pagenavi*/
		.wp_pagenavi{
			    margin: 0px 0 0px 0;
		}
		.wp_pagenavi ul li{
			float:left;
			margin: 10px;
		    background: #fff;
		    margin-right:1px;
		    padding: 15px 18px;
		    text-transform: uppercase;
		    font-size: 16px;
		    font-weight: bold;
		    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
		}
		

		.wp-pagenavi a{
		    color: #343434 !important;
		}
	
		<!-- bottom -->

		.bot1{
			background-color: rgb(58,192,199);
		}

		.pagination{
			position: relative;
			left: 370px;
		}


		.book{
			margin: 0 auto;
		}

		.social img{

			float: left;
			margin-left: 28px;
		}
		.hot{
			margin: 20px auto;

		}

		.hot .hot_span{
			font-size: 20px;
			text-align: center;
		}

<!-- 小轮播 -->

		#container *{
			padding: 0;
			margin: 0;
		}
		#container {
				width: 250px;
				height: 400px;
				overflow: hidden;
		}

		.sections,.section {
			height:100%;
		}
		#container,.sections {
			position: relative;
		}
		.section {
			background-color: #000;
			background-size: cover;
			text-align: center;
			color: white;
		}



	<!-- 三图river -->
		.post-slide{
		    margin: 0 25px;
		}

		.post-content,.post-img{
		    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05) !important;
		}


		.post-slide .post-img{
		    overflow: hidden;
		}
		.post-slide .post-img img{
		    width: 100%;
		    height: auto;
		    transform: scale(1);
		    transition: all 1s ease-in-out 0s;
		}
		.post-slide:hover .post-img img{
		    transform: scale(1.08);
		}
		.post-slide .post-content{
			position: relative;
			height:200px;
		    background: #fff;
		    padding: 20px;
		}
		.post-slide .post-title{
			width: 100%;
		    font-size: 17px;
		    font-weight: 600;
		    margin-top: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		    text-transform: capitalize;
		}
		.post-slide .post-title a{
		    display: inline-block;
		    color: #808080;
		    transition: all 0.3s ease 0s;
		}
		.post-slide .post-title a:hover{
		    color: #3d3030;
		    text-decoration: none;
		}
		.post-slide .post-description{
		    font-size: 15px;
		    color: #676767;
		    line-height: 24px;
		    margin-bottom: 14px;
		}
		.post-slide .post-bar{
		    padding: 0;
		    margin-bottom: 15px;
		    list-style: none;
		}
		.post-slide .post-bar li{
		    color: #676767;
		    padding: 2px 0;
		}
		.post-slide .post-bar li i{
		    margin-right: 5px;
		}
		.post-slide .post-bar li a{
		    display: inline-block;
		    font-size: 12px;
		    color: #808080;
		    transition: all 0.3s ease 0s;
		}
		.post-slide .post-bar li a:after{
		    content: ",";
		}
		.post-slide .post-bar li a:last-child:after{
		    content: "";
		}
		.post-slide .post-bar li a:hover{
		    color: #3d3030;
		    text-decoration: none;
		}
		.post-slide .read-more{
			position: absolute;
			right: 10px;
			bottom: 10px;
		    display: inline-block;
		    padding: 10px 15px;
		    font-size: 14px;
		    font-weight: bold;
		    color: #fff;
		    background: #e7989a;
		    border-bottom-right-radius: 10px;
		    text-transform: capitalize;
		    transition: all 0.30s linear;
		}
		.post-slide .read-more:hover{
		    background: #333;
		    text-decoration: none;
		}

		.post-title a{
			font-size: 22px;
			color: #333 !important;
		}




</style>
{%endblock style%}
{%block body%}


	<div id="myCarousel" class="carousel slide">
		<!-- 轮播（Carousel）指标 -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="{%static 'myblog/images/nbanner.png'%}" alt="First slide">
			</div>
			<div class="item">
				<img src="{%static 'myblog/images/nbanner.png'%}" alt="Second slide">
			</div>
			<div class="item">
				<img src="{%static 'myblog/images/nbanner.png'%}" alt="Third slide">
			</div>
		</div>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" href="#myCarousel"
			data-slide="prev">&lsaquo;
		</a>
		<a class="carousel-control right" href="#myCarousel"
			data-slide="next">&rsaquo;
		</a>
	</div>



	<div class="container m_cen">
		<div class="row">
			<div class="col-md-8 col-xs-12 col-sm-12 mtain">
				{%for each in articals%}
					<div class="list row">
						<div class="col-xs-12">
							<div class="topBlog">
								<div class="blog-category">
									<em>
										<a href="">{{each.tag}}</a>
									</em>
								</div>
								<h2 class="c_title">
									<a class="atitle" href="{% url 'blog:artical' each.id%}">{{each.title}}</a>
								</h2>
							</div>
							<div class="row">
								<div class="blogImage col-xs-12">
									<a href="">
										<img class="img-responsive img-rounded" src="/static/myblog/articalImages/thumbnail_750_400/{{each.id}}.jpg">
									</a>
								</div>
							</div>
							<div class="entry">
								<div class="meta">
									<div class="blogContent">
										<div class="blog_content">
											<p>
												{{each.content | slice:"0:200"}}
											</p>
											<p>
												{{each.content | slice:"200:400"}}
											</p>
											<p></p>
											<div class="read_more">
												<a href="{% url 'blog:artical' each.id%}">Continue reading</a>
											</div>
										</div>
									</div>
									<div class="blogBottom">
										<div class="post-meta">
											<a class="post-meta-time" href="">{{each.pub_time | date }}</a>
											<a class="post-meta-author" href="">BY {{each.user.name}}</a>
										</div>
									</div>
								</div>
							</div>
							 <!--
							<div><span class="datetime">{{i.email}}</span></div>
							<div class="discribe ">{{artical.content}}</div>
							<a href="/artical/{{artical.id}}"><botton class="btn btn-default">阅读</botton></a>
							-->
						</div>
					</div>
					
				{%endfor%}
				<div class="list row blogpostcategory">
					<div class="col-xs-12">
						<div class="entry">
							<div class="meta">
								<div class="blogContent">
									<div class="blog_content">
										<p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
									</div>
								</div>
								<div class="blogcontent-title">Joseph Campbell </div>
							</div>
						</div>
					</div>	
				</div>
			</div>
			
				<!-- right-bar-->

			<div class="right_info col-md-4 hidden-sm hidden-xs">
				<div class="row">
					<div class="sidebar ">
						<div class="widget widget_text col-xs-12 hidden-xs hidden-sm">
							<h3>About me</h3>
							<div class="widget-line"></div>
							<div class="row">
								<div class="textwidget col-xs-12">
									<img class="img-responsive" src="http://brixton.premiumcoding.com/demo5/wp-content/uploads/2015/02/brixton-avatar.jpg">
									<br>
									你好, 我是Yin， 一个喜欢享受生活的人， 这是我的博客， 在这里记录着我生活的点滴。
								</div>
							</div>
						</div>
			
						<!-- widget_text over-hear -->

						<div class="widget socials">
							<div class="widgett">
								<div class="social_icons">
									<div>
										<a href="">
											<img class="img-responsive" src='{%static "myblog/icons/21.png"%}' alt="">
											<i class="fa fa-some"></i>
										</a>
										<a href="">
											<img class="img-responsive" src='{%static "myblog/icons/23.png"%}' alt="">
											<i class="fa fa-some"></i>
										</a>
										<a href="">
											<img class="img-responsive" src='{%static "myblog/icons/7.png"%}' alt="">
											<i class="fa fa-some"></i>
										</a>
										<a href="">
											<img class="img-responsive" src='{%static "myblog/icons/10.png"%}' alt="">
											<i class="fa fa-some"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- social over-hear -->

						<div class="widget category_posts">
							<h3>Popular Posts</h3>
							<div class="widget-line"></div>
							{%for each in populars%}
							<div class="widgett">
								<div class="imgholder">
									<a href="{% url 'blog:artical' each.id %}" title="Permanent Link to OUT TRIP INTO THE WILD">
										<img class="img-responsive" src="/static/myblog/articalImages/thumbnail_285_155/{{each.id}}.jpg">
									</a>
								</div>
								<div class="wttitle">
									<h4>
										<a href="{% url 'blog:artical' each.id %}">{{each.title}}</a>
									</h4>
								</div>
							</div>
							{%endfor%}
							
						</div>
						<!-- category_posts over-hear -->
						<div class="widget widget_categories">
							<h3>Categories</h3>
							<div class="widget-line"></div>
							<ul>
								{%for each in tags%}
								{%if forloop.counter < 8%}
								<li class="cat-item cat-item-1"><a href="">{{each.name}}</a></li>
								{%endif%}
								{%endfor%}
							</ul>
						</div>
						<!-- widget_categories over-hear -->
						<div class="widget widget_search">
							<h3>SEARCH</h3>
							<div class="widget-line"></div>
							<form method="get" class="searchform" action="">
								<input type="text" value="Search and hit Enter...">
								<i class="fa fa-search search-desktop"></i>
							</form>
						</div>
						<!-- widget_search over-hear -->
						<div class="widget widget_text">
							<h3>Advertising section</h3>
							<div class="widget-line"></div>
							<div class="textwidget">
								<a href=""><img src="" alt=""></a>
							</div>
						</div>
						<!-- widget_text1 over-hear -->
						<div class="widget widget_tag_cloud">
							<h3>Tags</h3>
							<div class="widget-line"></div>
							<div class="tagcloud">
								{%for each in tags%}
								<a href="" class="tag-link-1 tag-link-position-1" style="font-size: 8pt;">{{each.name}}</a>
								{%endfor%}
							</div>
						</div>
						<!-- widget_tag_cloud over-hear -->
						<div class="widget widget_fbw_id">
							<h3>Like Us On Facebook</h3>
							<div class="widget-line"></div>
							<div class="row">
								<div id="container">
									<div class="sections">
										<div class="section"  id="section0"><img src='{%static "myblog/lunbo/images/穿过生命的泥泞时刻.jpg"%}' alt=""><h3></h3></div>
										<div class="section"  id="section1"><img src='{%static "myblog/lunbo/images/故事.jpg"%}' alt=""><h3></h3></div>
										<div class="section"  id="section2"><img src='{%static "myblog/lunbo/images/亲爱的甜橙树.jpg"%}' alt=""><h3></h3></div>
										<div class="section"  id="section3"><img src='{%static "myblog/lunbo/images/万物即聪明又奇妙.jpg"%}' alt=""><h3></h3></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		



			<div class="wp_pagenavi">
				<ul>
					<li><a href="1" class="prev_page" onclick="return false">«</a></li>
					{% for index in articals.paginator.page_range %}
					{% if forloop.counter < 5%}
						<li><a class="ch_page" href="" onclick="return false">{{index}}</a></li>
					{% endif %}
					{% endfor %}
					<li><a href="2" class="next_page" onclick="return false">»</a></li>
				</ul>
			</div>
		</div>


		<div class="demo">
					<div class="container">
						<div class="row">
							<div class="col-xs-12" style="padding: 1em 0;">
								<div id="news-slider" class="owl-carousel">
									{%for each in relate%}
									<div class="post-slide">
										<div class="post-img">
											<a href="{% url 'blog:artical' each.id%}"><img src="/static/myblog/articalImages/thumbnail_480_320/{{each.id}}.jpg" alt=""></a>
										</div>
										<div class="post-content">
											<h3 class="post-title"><a href="{% url 'blog:artical' each.id%}">{{each.title}}</a></h3>
											<p class="post-description">
												{{each.content | slice:":50"}}
											</p>
											<ul class="post-bar">
												<li><i class="fa fa-calendar"></i>{{each.pubdate}}</li>
												<li>
													<i class="fa fa-folder"></i>
													<a href="#">Mockup</a>
													<a href="#">Graphics</a>
													<a href="#">Flayers</a>
												</li>
											</ul>
											<a href="{% url 'blog:artical' each.id%}" class="read-more">read more</a>
										</div>
									</div>
									{%endfor%}

								</div>
							</div>
						</div>
					</div>
				</div>









	


{%endblock%}




